* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: aliceblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#gradeCalculator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5rem;
  border: 5px solid red;
  border-radius: 10px;
  padding: 1rem;
  width: 80%;
}

#gradeCalculator form {
  margin-top: 0.75rem;
  width: 50%;
  align-self: start;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

#submitBtn {
  border: none;
  background-color: tomato;
  color: lightblue;
  padding: 0.25rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

#submitBtn:hover {
  background-color: rgb(194, 59, 35);
}

#results {
  width: 50%;
  align-self: end;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}
